.make-teacher-page {
  min-height: 91vh;
  padding: 20px;
  background: #f4f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.make-teacher-page h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}


.make-teacher-form {
  background: #ffffff;
  width: 100%;
  max-width: 380px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.make-teacher-form input {
  width: 100%;
  padding: 9px 4px;
  margin-bottom: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.make-teacher-form input:focus {
  border-color: #007bff;
}


.make-teacher-form button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




@media (max-width: 480px) {
  .make-teacher-page {
    padding: 15px;
  }

  .make-teacher-page h1 {
    font-size: 18px;
  }

  .make-teacher-form {
    padding: 15px;
  }

  .make-teacher-form input,
  .make-teacher-form button {
    font-size: 13px;
    padding: 9px;
  }
}